.jumbotron1
{
    background-image: url(https://wallpapertag.com/wallpaper/full/4/d/7/317105-gorgerous-food-background-2990x1918-for-mobile-hd.jpg);
    width: 100vw;
    display: flex;
    padding: 70px;
}